<!DOCTYPE html>
<html>
<head>
<title>Illuminance</title>
<script type="text/javascript">
const updateLux = async(url,time,lux) => {
const sensorData = await fetch(url)
.then(response => response.text())

const target = document.getElementById(element)

target.innerHTML = `<h1>${sensorData}</h1>`
}

</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>  
<meta http-equiv="refresh" content="6">
</head>
<body onload="updateLux('/lux', 'time', 'lux')">
<div class="title">Illuminance Sensor Data display system</div>
<div id="data">Sensor Data</div>
<p id="Date and time">{{values[0]}}</p>
<p id="lux">Lux: {{values[1]}}</p>
    <canvas id="chart" width="600" height="400"></canvas>
<script>

 // bar chart data
 var barData = {
 labels : [
 {% for item in labels %}
 "{{ item }}",
 {% endfor %}
 ],

 datasets : [{
 fillColor: "rgba(151,187,205,0.2)",
 strokeColor: "rgba(151,187,205,1)",
 pointColor: "rgba(151,187,205,1)",
 pointStrokeColor: "#fff",
 pointHighlightFill: "#fff",
 pointHighlightStroke: "rgba(151,187,205,1)",
 bezierCurve : false,
 data : [
	{% for item in sensorvalues %}
 {{ item }},
 {% endfor %}]
 }
	]
 }

 Chart.defaults.global.animationSteps = 50;
 Chart.defaults.global.tooltipYPadding = 16;
 Chart.defaults.global.tooltipCornerRadius = 0;
 Chart.defaults.global.tooltipTitleFontStyle = "normal";
 Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
 Chart.defaults.global.animationEasing = "easeOutBounce";
 Chart.defaults.global.responsive = false;
 Chart.defaults.global.scaleLineColor = "black";
 Chart.defaults.global.scaleFontSize = 16;

 // get bar chart canvas
 var mychart = document.getElementById("chart").getContext("2d");

 steps = 10
 max = {{ max }}
 // draw bar chart
 var LineChartDemo = new Chart(mychart).Line(barData, {
 scaleOverride: true,
 scaleSteps: steps,
 scaleStepWidth: Math.ceil(max / steps),
 scaleStartValue: 0,
 scaleShowVerticalLines: true,
 scaleShowGridLines : true,
 barShowStroke : true,
 scaleShowLabels: true,
 bezierCurve: false,
 });

 </script>
   
</body>

<style type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

body{
background-color: black;
}

div{
text-align: center;
color: #FF1493;
font-size: 34px;
}

p{
margin: 0 auto;
padding: 10px 10px 10px 10px;
text-align: center;
color: #000080;
font-size: 35px;
font-family:'Roboto', sans-serif;
font-size: bold;
}

div + .title{
text-align: center;
padding-bottom: 20px;
color: blue;
font-size: 40px;
}
</style>
</html>  